################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Szeregowanie1/obj/Release
/Szeregowanie1/obj/Debug
/Szeregowanie1/bin/Debug
/.vs
